<section class="contact-section">
        <div class="container contact">
          <h1 class="contact-title">CONTACT</h1>
          <p class="contact-after-title">ONLINE STORAGE</p>
          <div class="map-picture-wrap">
            <picture>
              <source
                srcset="
                  ./img/contact-page/map-desktop.jpg    1x,
                  ./img/contact-page/map-desktop-2x.jpg 2x
                "
                media="(min-width: 1920px)"
              />
              <source
                srcset="
                  ./img/contact-page/map-mob.jpg    1x,
                  ./img/contact-page/map-mob-2x.jpg 2x
                "
                media="(max-width: 1920px)"
              />
              <img
                src="./img/contact-page/map-desktop.jpg"
                alt="city-map"
                width="1920"
                height="838"
              />
            </picture>
          </div>
          <h2 class="contact-form-title">Drop us a line</h2>
          <p class="contact-form-text">Lorem ipsum dolor sit amet.</p>
          <form class="contact-form">
            <label class="contact-form-field"
              ><span class="contact-label">Email</span>
              <input
                type="email"
                class="contact-form-input"
                name="user-email"
                placeholder="mail@example.com"
              />
            </label>
            <label class="contact-form-field"
              ><span class="contact-label">Name</span>
              <input
                type="text"
                class="contact-form-input"
                name="user-name"
                placeholder="John Doe"
              />
            </label>
            <textarea
              name="user-text"
              class="contact-form-message"
              placeholder="Message"
            ></textarea>
            <div class="contact-notice-button-wrap">
              <p class="contact-form-notice">
                We do not share your personal data.
              </p>
              <button type="submit" class="subscribe-btn">Subscribe</button>
            </div>
          </form>
        </div>
      </section>