<section class="faq">
    <div class="container">

        <h1 class="faq-title">FAQ</h1>

        <h2 class="faq-pretitle">Online storage</h2>

        <ul class="faq-ul">
            <li class="faq-list">
                <h3 class="faq-title-list">
                    How to install?
                </h3>
                <p class="faq-text-list">
                    Orci nibh faucibus nunc aliquet diam. Neque quis dignissim ipsum eget sed massa feugiat sit nibh. Pretium eget morbi
                    tincidunt justo, mattis tincidunt facilisis lorem. Commodo, sit enim, amet fringilla in
                </p>
            </li>
            <li class="faq-list">
                <h3 class="faq-title-list">
                    How to install?
                </h3>
                <p class="faq-text-list">
                    Orci nibh faucibus nunc aliquet diam. Neque quis dignissim ipsum eget sed massa feugiat sit nibh. Pretium eget
                    morbi
                    tincidunt justo, mattis tincidunt facilisis lorem. Commodo, sit enim, amet fringilla in
                </p>
            </li>
            <li class="faq-list">
                <h3 class="faq-title-list">
                    How to install?
                </h3>
                <p class="faq-text-list">
                    Orci nibh faucibus nunc aliquet diam. Neque quis dignissim ipsum eget sed massa feugiat sit nibh. Pretium eget
                    morbi
                    tincidunt justo, mattis tincidunt facilisis lorem. Commodo, sit enim, amet fringilla in
                </p>
            </li>
            <li class="faq-list">
                <h3 class="faq-title-list">
                    How to install?
                </h3>
                <p class="faq-text-list">
                    Orci nibh faucibus nunc aliquet diam. Neque quis dignissim ipsum eget sed massa feugiat sit nibh. Pretium eget
                    morbi
                    tincidunt justo, mattis tincidunt facilisis lorem. Commodo, sit enim, amet fringilla in
                </p>
            </li>
            <li class="faq-list">
                <h3 class="faq-title-list">
                    How to install?
                </h3>
                <p class="faq-text-list">
                    Orci nibh faucibus nunc aliquet diam. Neque quis dignissim ipsum eget sed massa feugiat sit nibh. Pretium eget
                    morbi
                    tincidunt justo, mattis tincidunt facilisis lorem. Commodo, sit enim, amet fringilla in
                </p>
            </li>
            <li class="faq-list">
                <h3 class="faq-title-list">
                    How to install?
                </h3>
                <p class="faq-text-list">
                    Orci nibh faucibus nunc aliquet diam. Neque quis dignissim ipsum eget sed massa feugiat sit nibh. Pretium eget
                    morbi
                    tincidunt justo, mattis tincidunt facilisis lorem. Commodo, sit enim, amet fringilla in
                </p>
            </li>
            <li class="faq-list">
                <h3 class="faq-title-list">
                    How to install?
                </h3>
                <p class="faq-text-list">
                    Orci nibh faucibus nunc aliquet diam. Neque quis dignissim ipsum eget sed massa feugiat sit nibh. Pretium eget
                    morbi
                    tincidunt justo, mattis tincidunt facilisis lorem. Commodo, sit enim, amet fringilla in
                </p>
            </li>
        </ul>
    </div>
</section>