<section class="faq-hero">
    <div class="container">

        <h1 class="faq-title">FAQ</h1>

        <h2 class="faq-pretitle">Online storage</h2>
        
    </div>
    <section class="faq">
        <div class="container">
    
            <ul class="faq-ul">
                <li class="faq-list">
                    <h3 class="faq-title-list">
                        How to install?
                    </h3>
                    <p class="faq-text-list">
                        Orci nibh faucibus nunc aliquet diam. Neque quis dignissim ipsum eget sed massa feugiat sit nibh.
                        Pretium eget morbi
                        tincidunt justo, mattis tincidunt facilisis lorem. Commodo, sit enim, amet fringilla in proin purus.
                        Et odio arcu libero
                        at sed quam tempor, neque. Scelerisque arcu vel vehicula eget posuere. Sed urna velit aliquam in
                        pharetra. Tempus libero
                        elit ac hac et morbi. Sed viverra vel adipiscing mauris, congue tincidunt integer. Sed gravida in
                        cursus pellentesque
                        odio.
                    </p>
                </li>
                <li class="faq-list">
                    <h3 class="faq-title-list another">
                        How to install?
                    </h3>
                    <p class="faq-text-list">
                        Orci nibh faucibus nunc aliquet diam. Neque quis dignissim ipsum eget sed massa feugiat sit nibh.
                        Pretium eget morbi
                        tincidunt justo, mattis tincidunt facilisis lorem. Commodo, sit enim, amet fringilla in proin purus.
                        Et odio arcu libero
                        at sed quam tempor, neque. Scelerisque arcu vel vehicula eget posuere. Sed urna velit aliquam in
                        pharetra. Tempus libero
                        elit ac hac et morbi. Sed viverra vel adipiscing mauris, congue tincidunt integer. Sed gravida in
                        cursus pellentesque
                        odio.
                    </p>
                </li>
                <li class="faq-list">
                    <h3 class="faq-title-list">
                        How to install?
                    </h3>
                    <p class="faq-text-list">
                        Orci nibh faucibus nunc aliquet diam. Neque quis dignissim ipsum eget sed massa feugiat sit nibh.
                        Pretium eget morbi
                        tincidunt justo, mattis tincidunt facilisis lorem. Commodo, sit enim, amet fringilla in proin purus.
                        Et odio arcu libero
                        at sed quam tempor, neque. Scelerisque arcu vel vehicula eget posuere. Sed urna velit aliquam in
                        pharetra. Tempus libero
                        elit ac hac et morbi. Sed viverra vel adipiscing mauris, congue tincidunt integer. Sed gravida in
                        cursus pellentesque
                        odio.
                    </p>
                </li>
                <li class="faq-list">
                    <h3 class="faq-title-list another">
                        How to install?
                    </h3>
                    <p class="faq-text-list">
                        Orci nibh faucibus nunc aliquet diam. Neque quis dignissim ipsum eget sed massa feugiat sit nibh.
                        Pretium eget morbi
                        tincidunt justo, mattis tincidunt facilisis lorem. Commodo, sit enim, amet fringilla in proin purus.
                        Et odio arcu libero
                        at sed quam tempor, neque. Scelerisque arcu vel vehicula eget posuere. Sed urna velit aliquam in
                        pharetra. Tempus libero
                        elit ac hac et morbi. Sed viverra vel adipiscing mauris, congue tincidunt integer. Sed gravida in
                        cursus pellentesque
                        odio.
                    </p>
                </li>
                <li class="faq-list">
                    <h3 class="faq-title-list">
                        How to install?
                    </h3>
                    <p class="faq-text-list">
                        Orci nibh faucibus nunc aliquet diam. Neque quis dignissim ipsum eget sed massa feugiat sit nibh.
                        Pretium eget morbi
                        tincidunt justo, mattis tincidunt facilisis lorem. Commodo, sit enim, amet fringilla in proin purus.
                        Et odio arcu libero
                        at sed quam tempor, neque. Scelerisque arcu vel vehicula eget posuere. Sed urna velit aliquam in
                        pharetra. Tempus libero
                        elit ac hac et morbi. Sed viverra vel adipiscing mauris, congue tincidunt integer. Sed gravida in
                        cursus pellentesque
                        odio.
                    </p>
                </li>
                <li class="faq-list">
                    <h3 class="faq-title-list another">
                        How to install?
                    </h3>
                    <p class="faq-text-list">
                        Orci nibh faucibus nunc aliquet diam. Neque quis dignissim ipsum eget sed massa feugiat sit nibh.
                        Pretium eget morbi
                        tincidunt justo, mattis tincidunt facilisis lorem. Commodo, sit enim, amet fringilla in proin purus.
                        Et odio arcu libero
                        at sed quam tempor, neque. Scelerisque arcu vel vehicula eget posuere. Sed urna velit aliquam in
                        pharetra. Tempus libero
                        elit ac hac et morbi. Sed viverra vel adipiscing mauris, congue tincidunt integer. Sed gravida in
                        cursus pellentesque
                        odio.
                    </p>
                </li>
                <li class="faq-list">
                    <h3 class="faq-title-list another">
                        How to install?
                    </h3>
                    <p class="faq-text-list">
                        Orci nibh faucibus nunc aliquet diam. Neque quis dignissim ipsum eget sed massa feugiat sit nibh.
                        Pretium eget morbi
                        tincidunt justo, mattis tincidunt facilisis lorem. Commodo, sit enim, amet fringilla in proin purus.
                        Et odio arcu libero
                        at sed quam tempor, neque. Scelerisque arcu vel vehicula eget posuere. Sed urna velit aliquam in
                        pharetra. Tempus libero
                        elit ac hac et morbi. Sed viverra vel adipiscing mauris, congue tincidunt integer. Sed gravida in
                        cursus pellentesque
                        odio.
                    </p>
                </li>
                
            </ul>
    
        </div>
    </section>
</section>


