<section class="features">
  <div class="container">
    <h1 class="visually-hidden"> Features</h1>
    <div class="desctop-features">
  <div class="container-img">
  <!-- <img src='../img/features/BG.svg' class='bg-features' width='1153px' height='1166px' alt='features-img'> -->
  <img class="cloud-img" src="./img/features/CLOUD.svg" class='cloud-features' alt="features-img">
  </div>
  <div class="container-features">
  <!-- <img src="../img/features/BG.svg" class='features-mob' width="1153px" height="1166px" alt="features-img"> -->
  <ul class="features-list">
    <li class="features-item">
      <div class="icon-items">
        <img class=icon-bg src="./img/features/bg-icon.svg" alt="icon-img">
        <svg class=features-icon width="42" height="42">
          <use href="../img/icons/sprite.svg#icon-photo-camera"></use>
        </svg>
      </div>
      <div><h2 class="features-title">SAFE AND SECURE</h2>
      <p class="features-description">Safely store and backup all your essential files. From family photos & videos to
        important documents, you can
        rely on us to store all your media securely and forever.</p>
      </div>      
    </li>
    <li class="features-item">
      <div class="icon-items">
        <img class=icon-bg src="./img/features/bg-icon.svg" alt="icon-img">
      <svg class=features-icon width="43" height="45">
        <use href="../img/icons/sprite.svg#icon-Globe"></use>
      </svg>
    </div>
      <div>
        <h2 class="features-title">ACCESS FROM ANYWHERE</h2>
        <p class="features-description">Easily access your files from anywhere with desktop apps for Windows and Mac, and
          mobile apps for iPhone, iPad,
          Android, and the web.</p>
      </div>
    </li>
    <li class="features-item">
      <div class="icon-items">
        <img class=icon-bg src="./img/features/bg-icon.svg" alt="icon-img">
      <svg class=features-icon width="44" height="39">
        <use href="../img/icons/sprite.svg#icon-photo"></use></svg>
      </div>
      <div>
        <h2 class="features-title">STORE AND MANAGE ALL YOUR FILES!</h2>
        <p class="features-description">Upload multiple files at once and keep them forever on this site. If you're using
          FireFox or Chrome, you can
          simply drag & drop your files to begin uploading.</p>
      </div>
    </li>
    <li class="features-item">
      <div class="icon-items">
        <img class=icon-bg src="./img/features/bg-icon.svg" alt="icon-img">
        <svg class=features-icon width="46" height="46">
          <use href="../img/icons/sprite.svg#icon-speedometer"></use>
        </svg>
      </div>
      <div>
        <h2 class="features-title">ANY POINT OF THE GLOBE</h2>
        <p class="features-description">High speed from any location with internet access! Gigabit networking and high-performance server!</p>
      </div>
    </li>
  </ul>
</div>
</div>
</div>
</section>

