<div class="container-footer">
    <div class="wrapper-footer">
        <div class="wrapper-about-us">
            <h2 class="title-footer desktop">About us</h2>
            <p class="text-footer about-us">When using the SKYBOX Services You may transmit, store and or share certain data, information, files,
                etc. (altogether
                “Service Data”). For the avoidance of doubt, You retain full ownership of Your Service Data. SKYBOX doea
                that You or any
                other uss while using the Service. SKYBOX agrees that these Terms do not grant</p>
        </div>
        <div class="wrapper-featuredlink">
            <h3 class="title-footer desktop">Featured links</h3>
            <ul>
                <li class="text-footer"><a href="">Pricing</a></li>
                <li class="text-footer"><a href="">Contact</a></li>
                <li class="text-footer"><a href="">FAQ</a></li>
                <li class="text-footer"><a href="">Login</a></li>
                <li class="text-footer"><a href="">Text page</a></li>
                <li class="text-footer"><a href="">Sky</a></li>
            </ul>
        </div>
        <div class="wrapper-contact-us">
            <h4 class="title-footer">Contact us</h4>
            
                <p class="text-footer">Our office: <br/>
                    Digitalgoals LTD <br/>
                    Lapathou, 6, Strovolos 2027, <br />
                    Lefkosia, Cyprus</p>
                <ul class="list-contact-us">
                    <li class="item-contact-us text-footer"><a href="tel:+37062252936">Phone: +37 06 225 29 36</a></li>
                    <li class="item-contact-us text-footer"><a href="mailto:mail@example.com">Email: mail@example.com</a></li>
                </ul>
            </div>
            </div>
            <div class="wrapper-copyright">
                <hr class="line">
                <p class="text-copyright">Copyright © 2016 - 2021 - SkyBox - Online File Storage</p>
           </div>>
      
   

</div>