<header class="header">
      <div class="container">
        <nav class="navigation">
          <a class="link logo" href="./index.html">Skybox</a>
          <ul class="navigation-list list">
            <li class="navigation-item">
              <a class="link" href="./index.html">Home</a>
            </li>
            <li class="navigation-item">
              <a class="link" href="./price.html">Pricing</a>
            </li>
            <li class="navigation-item">
              <a class="link" href="./contact.html">Contact</a>
            </li>
            <ul class="nav-links-btn">
                <li class="nav-links-btn-item">
              <a class="link" href="./login.html">Login</a>
            </li>
            <li class="nav-links-btn-item">
              <a class="link" href="./register.html">Sign Up</a>
            </li>
            </ul>
          </ul>
          <button class="mobile-menu-btn" type="button" data-menu-open>
            <svg class="mobile-menu-icon" width="51" height="26">
              <use href="./img/icons/sprite.svg#icon-menu_btn"></use>
            </svg>
          </button>
        </nav>
        <div class="mobile-menu-box visually-hidden" data-menu>
          <button class="menu-box-close-btn" type="button" data-menu-close>
            <svg class="menu-box-close-icon" width="24" height="16">
              <use href="./img/icons/sprite.svg#icon-menu-close"></use>
            </svg>
          </button>
          <ul class="menu-box-navigation-list list">
            <li class="menu-box-navigation-item">
              <a class="link" href="./index.html">Home</a>
            </li>
            <li class="menu-box-navigation-item">
              <a class="link" href="./price.html">Pricing</a>
            </li>
            <li class="menu-box-navigation-item">
              <a class="link" href="./contact.html">Contact</a>
            </li>
            <li class="menu-box-navigation-item login-menu">
              <a class="link" href="./login.html">Login</a>
            </li>
            <li class="menu-box-navigation-item signin">
              <a class="link" href="./register.html">Sign Up</a>
            </li>
          </ul>
        </div>
        
        </div>
      </div>
    </header>