<section class='hero'>
  <div class='container'>
    <div class='container-inner'>
      <img src='./public/hero.svg' class='hero-img' width='815.79' height='715.99' alt='hero-img'>
      <div class='container-description'>
        <h1 class='hero-title'>Personal and Business</h1>
        <h2 class='hero-title-descr'>Online storage</h2>
        <h3 class='hero-slogan'>STORE AND MANAGE ALL YOUR Files!</h3>
        <p class='hero-descr'>Upload multiple files at once and keep them forever on this site. If you're using FireFox
          or Chrome, you can simply drag & drop your files to begin uploading</p>
        <a href='register.html' type='submit' target='_blank' class='hero-link'>Try SkyBox Now</a>
      </div>
    </div>
  </div>
  </div>
</section>