<section class="stats">
    <div class="container">

          <h2 class="visually-hidden">Cтатистика</h2>
          <ul class="stats__items">

            <li class="stats__item">
              <div class="stats__picture-box">
                <svg class="stats__icon"  width="106" height="106">
                  <use href="./img/icons/sprite.svg#download"></use>
                </svg>
              </div>
              <div class="stats__text">
                <p class="stats__fugures">999529 000 000</p>
                <p class="stats__text-descr">
                    Загружено файлов на сервис
                </p>
              </div> 
            </li>

            <li class="stats__item">
              <div class="stats__picture-box">
                <svg class="stats__icon"  width="74" height="74">
                  <use href="./img/icons/sprite.svg#user"></use>
                </svg>
              </div>
              <div class="stats__text">
                <p class="stats__fugures">235 764 784</p>
                <p class="stats__text-descr">
                    Зарегистрировано пользователей
                </p>
              </div>
            </li>

        </ul>
    </div>
</section>