<section class="login">
    <h1 class="visually-hidden">login</h1>
    <div class="container">
        <h2 class="login-title">login</h2>
        <p class="login-intro">online storage</p>
        <form class="form-login">
                <div class="form-login_input">
                    <label for="email" class="login-label">Email</label>
                    <input type="text" id="email" class="login-input" placeholder="mail@example.com">
                </div>
                <div class="form-login_input">
                    <label for="password" class="login-label">Password</label>
                    <input type="text" id="password" class="login-input_last" placeholder="***********">
                </div>
        </form>
        <div class="login-password">
            <button class="login-btn" type="button">Login</button>
            <div class="pass-remind">
                <a href="">Forget Password</a>
            </div>
        </div>
    </div>
</section>