<h1 class="register-heading">Register</h1>
<h2 class="register-subheading">Online Storage</h2>
<form class="register-form"  name="register-form" novalidate>
<input   type="text" placeholder="E-mail" required >
<input type="text" placeholder="Re-Email" required>
<input type="text" placeholder="Password" required minlength="10">
<input type="text" placeholder="Re-Password" required minlength="10">
<button type="button">Register</button>
</form>
<h2 class="register-subheading">999529 000 000</h2>
<h3 class="register-sub-sub-headig">Загружено файлов на сервис</h3>
<h2 class="register-subheading">235 764 784</h2>
<h3 class="register-sub-sub-headig">Зарегистрировано пользователей</h3>

