

<section class="text-page">
    <div class="conta">
        <div class="txt-cont">
    <h1 class="main-title">TEXT PAGE</h1>
    <h2 class="two-title">ONLINE STORAGE</h2>

    <ul class="one-list">
        <li class="item">
            <h3 class="three-title">ACCESS FROM ANYWHERE</h3>
        </li>
        <li class="item">
        <p class="txt">            
            Easily access your files from anywhere with desktop apps
    for Windows and Mac, and mobile apps for iPhone, iPad,
    Android, and the web. Easily access your files from anywhere 
    with desktop apps for Windows and Mac, and mobile apps for 
    iPhone, iPad, Android, and the web.Easily access your files from 
    anywhere with desktop apps for Windows and Mac, and mobile apps 
    for iPhone, iPad, Android, and the web.Easily access your files
    from anywhere with desktop apps for Windows and Mac, and mobile
    apps for iPhone, iPad, Android, and the web.r Windows and Mac,
    and mobile apps for iPhone, iPad, Android, and the web.r Windows
    and Mac, and mobile apps for iPhone, iPad, Android, 
    and the web.r Windows and Mac, and mobile apps for 
    iPhone, iPad, Android, and the web.
    </p>
        </li>
        <li class="item none">
            <p class="txt">
                Easily access your files from anywhere with desktop apps
    for Windows and Mac, and mobile apps for iPhone, iPad,
    Android, and the web. Easily access your files from anywhere 
    with desktop apps for Windows and Mac, and mobile apps for 
    iPhone, iPad, Android, and the web.Easily access your files from 
    anywhere with desktop apps for Windows and Mac, and mobile apps 
    for iPhone, iPad, Android, and the web.Easily access your files
    from anywhere with desktop apps for Windows and Mac, and mobile
    apps for iPhone, iPad, Android, and the web.r Windows and Mac,
    and mobile apps for iPhone, iPad, Android, and the web.r Windows
    and Mac, and mobile apps for iPhone, iPad, Android, 
    and the web.r Windows and Mac, and mobile apps for 
    iPhone, iPad, Android, and the web.
            </p>
        </li>
    </ul>
<ul class="two-list">
    <li class="item-two">
        <h3 class="two-list-title three-title">ACCESS FROM ANYWHERE</h3>
    </li>
    <li class="item-two">
        <p class="txt">Easily access your files from anywhere with desktop apps
            for Windows and Mac, and mobile apps for iPhone, 
            iPad, Android, and the web. Easily access your files 
            from anywhere with desktop apps for Windows and Mac, 
            and mobile apps for iPhone, iPad, Android, and the web.
            Easily access your files from anywhere with desktop apps for 
            Windows and Mac, and mobile apps for iPhone, iPad, Android, 
            and the web.Easily access your files from anywhere with desktop 
            apps for Windows and Mac, and mobile apps for iPhone, iPad, Android, 
            and the web.</p>
    </li>
    <div class="flex-cont">
    <li class="item-two items">
        <p class="txt">Easily access your files from anywhere with desktop apps 
            for Windows and Mac, and mobile apps for iPhone, iPad, Android, and 
            the web. Easily access your files from anywhere with desktop apps for
             Windows and Mac, and mobile apps for iPhone, iPad, Android, and the 
             web.Easily access your files from anywhere with desktop apps for Windows
              and Mac, and mobile apps for iPhone, iPad, Android, and the web.Easily
               access your files from anywhere with desktop apps for Windows and Mac, 
               and mobile apps for iPhone, iPad, Android, and the web. </p>
    </li>
    <li class="item-two items">
        <p class="txt">
            Easily access your files from anywhere with desktop apps for Windows 
            and Mac, and mobile apps for iPhone, iPad, Android, and the web. Easily 
            access your files from anywhere with desktop apps for Windows and Mac, 
            and mobile apps for iPhone, iPad, Android, and the web.Easily access your 
            files from anywhere with desktop apps for Windows and Mac, and mobile apps 
            for iPhone, iPad, Android, and the web.Easily access your files from 
            anywhere with desktop apps for Windows and Mac, and mobile apps for iPhone, 
            iPad, Android, and the web. 
        </p>
    </li>
</div>
    <li class="item-two">
        <p class="txt">Easily access your files from anywhere with desktop apps for Windows and Mac, and mobile 
            apps for iPhone, iPad, Android, and the web. Easily access your files from anywhere with 
            desktop apps for Windows and Mac, and mobile apps for iPhone, iPad, Android, and the web.
            Easily access your files from anywhere with desktop apps for Windows and Mac, and mobile 
            apps for iPhone, iPad, Android, and the web.Easily access your files from anywhere with 
            desktop apps for Windows and Mac, and mobile apps for iPhone, iPad, Android, and the web.</p>
    </li>
</ul>
</div>
</div>
</section>
