:root {

    --brend-color: #3B668D;
    --base-white-color: #FFFFFF;
    --base-purple-color: #79788F;
    --bese-grin-color: #40BF3D;
    --base-days-color: #3B668D;
    --base-price-color: #8572FF;
    --text-price-color: #567796;
    --number-info-color: #425B8C;
    --text-info-color: #718DC2;
    --form-text-color: #3B3F8D;
    --form-input-color: #ADADAD;
    --title-faq-color: #46637E;
    --text-faq-color: #878787;
    --text-page-color: #2B4964;
    --background-color: #E5E5E5;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*  FOR MOBILE SCREEN */
.faq-hero {
    background-image: url(../img/faq/BG.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 390px;
    background-color: var(--base-white-color);
    margin-left: auto;
    margin-right: auto;
}

.faq-hero .container {
    padding-left: 22px;
    padding-right: 29px;
}

.faq-title {
    padding-top: 211px;
    margin-bottom: 15px;

    color: var(--brend-color);

    font-family: 'Roboto';
    font-weight: 900;
    font-size: 72px;
    line-height: calc(72 / 70);
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-align: center;
}

.faq-pretitle {
    color: var(--brend-color);

    padding-bottom: 30px;

    font-family: 'Montserrat';
   
    font-size: 21px;
    line-height: calc(36 / 21);
    letter-spacing: 0.38em;
    text-transform: uppercase;
    text-align: center;
}

.faq{
    padding-top: 30px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.faq .container{
    padding-left: 18px;
    padding-right: 13px;
}

.faq-ul {
    display: flex;
    flex-direction: column;
}

.faq-list {
    margin-bottom: 13px;
    cursor: pointer;
}


.faq-title-list {
    background: linear-gradient(90deg, rgba(178, 227, 255, 0.2) 0%, rgba(223, 191, 255, 0.2) 100%);
    
    color: var(--title-faq-color);

    font-family: 'Comfortaa';

    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);

    padding-top: 28px;
    padding-left: 54px;
    padding-bottom: 28px;
    padding-right: 14px;
}



.faq-title-list::after {
    content: url(../img/faq/plus-mob.svg);
    margin-left: 20px;
    color: var(--text-faq-color);
}

.faq-title-list.active {
    margin-bottom: 31px;
    background: linear-gradient(90deg, #B1E3FF 0%, #DFBEFF 100%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.faq-title-list.active::after{
    position: relative;
    content: url(../img/faq/minus-mob.svg);;
    margin-left: 20px;
    color: var(--text-faq-color);
    top: -5px;
    
}

.faq-text-list {
    display: none;
    padding-bottom: 30px;

    color: var(--text-faq-color);
    font-family: 'Comfortaa';
    
    font-size: 20px;
    line-height: calc(30 / 20);
}

.faq-text-list.active {
    display: block;
    overflow: initial;
}

/*  FOR DESCTOP SCREEN */
@media screen and (min-width: 1920px) {
    .faq-hero {
        background-image: url(../img/faq/bg-desktop.png), url(../img/faq/bg-section.png);
   
        background-size: 1920px;

        background-position: top, 0px 255px;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }

    .faq-hero .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .faq-title {
        padding-top: 332px;
    }

    .faq-pretitle {
        padding-bottom: 62px;
    
        font-size: 24px;
        line-height: calc(36 / 24);

    }


    .faq{
        padding-top: 62px;
        padding-bottom: 160px;
    }

    .faq .container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .faq-ul {
        width: 1199px;
        margin-left: auto;
        margin-right: auto;
    }
    

    .faq-title-list {       
        
        font-weight: 700;
        font-size: 30px;
        line-height: calc(33 / 30);

        padding-top: 28px;
        padding-left: 54px;
        padding-bottom: 26px;
        padding-right: 40px;
        width: 1199px;

    }

    .faq-title-list.another{
        background: linear-gradient(90deg, rgba(178,228,255,0.3) 0%, rgba(223,191,255,0.3) 100%);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .faq-title-list::after {
        content: url(../img/faq/plus-dt.svg);
        margin-left: 830px;
        color: var(--text-faq-color);
    }

    .faq-title-list.active {
        margin-bottom: 31px;
        background: linear-gradient(90deg, #B1E3FF 0%, #DFBEFF 100%);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .faq-title-list.active::after{
        content: url(../img/faq/minus-dt.svg);
        margin-left: 830px;
        color: var(--text-faq-color);
    }

    .faq-text-list {
        display: none;
        padding-bottom: 90px;
        width: 1103px;
        margin-left: auto;
        margin-right: auto;

        font-size: 20px;
        line-height: calc(30 / 20);
    }

    .faq-text-list.active {
        display: block;
        overflow: initial;
    }
}