.no-scroll {
  overflow: hidden;
}

/* --------HEADER--------- */
.header {
  position: absolute;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'Comfortaa';
  font-weight: 700;

  color: var(--base-white-color);
}
.logo {
  font-size: 36px;
  line-height: 1.11;
  text-transform: uppercase;
}
.navigation-list {
  display: none;
}

.mobile-menu-btn,
.menu-box-close-btn {
  display: flex;
  width: 51px;
  height: 26px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.menu-box-close-btn {
  width: 40px;
  height: 40px;
}
.mobile-menu-icon,
.menu-box-close-icon {
  margin: auto;
}
.mobile-menu-box {
  position: absolute;
  top: 0;
  right: 0;

  padding: 55px 25px 25px 25px;

  width: 100%;
  height: 100vh;
  background-color: var(--base-purple-color);
  background-image: url('../img/icons/mobile-menu-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.menu-box-close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  fill: var(--base-white-color);
}
.menu-box-navigation-list {
  font-size: 30px;
  line-height: 1.09;

  color: var(--base-white-color);
}
.menu-box-navigation-item:not(:last-child) {
  margin-bottom: 20px;
}
.login {
  margin-top: 40px;
  margin-bottom: 40px;
}
.signin {
  width: 157px;
  height: 56px;

  border-radius: 30px;

  background-color: var(--base-white-color);
  color: var(--base-price-color);

  text-align: center;

  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 390px) {
  .container {
    max-width: 360px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1890px;
  }
  .header {
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 285px;
    padding-right: 349px;
  }
  .navigation {
    display: flex;
    gap: 282px;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    line-height: 1.1;
  }
    .navigation-list {
    display: flex;
    gap: 69px;
    align-items: center;
  }
  .navigation-item {
    transition: transform 250ms, color 250ms;
  }
  .navigation-item:nth-child(2) {
margin-right: 17px;
  }
  .navigation-item:hover,
  .navigation-item:focus {
    color: var(--bese-grin-color);
    transform: scale(1.2);
  }

  .mobile-menu-btn {
    display: none;
  }
  .nav-links-btn {
    display: flex;
    gap: 18px;
    margin-left: 47px;
  }
  .nav-links-btn-item {
    width: 132px;
    height: 36px;
    padding-top: 16px;
    padding-bottom: 12px;
    
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.19px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 250ms, color 250ms, font-size 250ms;

  }
  .nav-links-btn-item:last-child {
    background-color: var(--base-white-color);
    border-radius: 30px;
    color: #bb6df3;
  }
  .nav-links-btn-item:hover,
  .nav-links-btn-item:focus {
    /* transform: scale(1.2); */
    font-size: 16px;
    color: var(--bese-grin-color);
  }
}
