/*body {
    font-family: 'Roboto';
    background-color: white;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    min-width: 358px;
    padding-left: 18px;
    padding-right: 14px;
    margin-left: auto;
    margin-right: auto;
}*/

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.login {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 358px;
    margin-left: auto;
    margin-right: auto;
}

.login-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 72px;
    line-height: 70px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-align: center;
    color: #3B668D;
}

.login-intro {
    margin-top: 0;
    margin-bottom: 37px;
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.38em;
    text-transform: uppercase;
    text-align: center;
    color: #3B668D;
}

.form-login_input {
    position: relative;
    display: flex;   
    width: 100%;
    margin-bottom: 20px;
}

.form-login_input:last-child {
    margin-bottom: 53px;
}

.login-label {
    position: absolute;
    top: 36px;
    left: 63px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #ADADAD;
}

.login-input::placeholder {
    color: transparent;
}

.login-input {
    width: 100%;
    padding-top: 36px;
    padding-bottom: 37px;
    padding-left: 63px;
    background: #F3F3F3;
    border-radius: 61px;
    border: none;
}

.login-btn {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 37px;
    padding-top: 26px;
    padding-bottom: 26px;
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
    border: none;
    border-radius: 62px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    text-align: center; 
    color: #FFFFFF;
}

.pass-remind a {
    display: block;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #ADADAD;
}


/*DESKTOP-----------------*/
@media screen and (min-width: 1920px) {
    /*.container {
        min-width: 1920px;
        padding-left: 154px;
        padding-right: 165px;
    }*/

    .login {
        width: 1920px;
    }

    .form-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   
    
    .login-title {
        letter-spacing: 0.405em;  
    }
    
    .login-intro {
        margin-bottom: 88px;
        letter-spacing: 0.905em;
    }

    .form-login_input {
        position: static;
        display: flex;   
        margin-bottom: 37px;
        justify-content: center;
        align-items: center;
    }
    
    .form-login_input:last-child {
        margin-bottom: 58px;
    }
    
    .login-label {
        position: static;
        margin-right: 45px;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        color: #3B3F8D;
    }
    
    .login-input::placeholder {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        color: #ADADAD;
    }
        
    .login-input {
        width: 630px;
        padding-top: 36px;
        padding-bottom: 37px;
        padding-left: 57px;
        background: #F3F3F3;
        border-radius: 61px;
        border: none;
    }
    
    .login-btn {
        width: 350px;
        margin-bottom: 35px;
    }
  
}